---
permalink: recipe-index.json
eleventyExcludeFromCollections: true
---
[
{%- for recipe in collections.recipes %}
  {%- if not loop.first %},{% endif %}
  { "slug": {{ recipe.fileSlug | dump | safe }}, "label": {{ (recipe.data.wheelLabel or recipe.data.title) | dump | safe }} }
{%- endfor %}
]
